

$lightBlue:#B7C8D9;
$color:#FFF;
$color2:#F3F3F3;
$color3:#A4A4A4;
$color4:#F0F0F0;
$color5:#000;
$color6:#343638;
$color7:#E8E8E8;
$color8: #9E9E9E;


$small: 900px;
$medium: 1500px;
$fontSizeBig:30px;
$fontSizeSmall:15px;
$widthInputBig:55%;
$widthInputSmall:20%;